.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 20px;
    background: blueviolet;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.input {
    padding: 10px;
    margin-top: 16px;
    border: 3px solid blueviolet;
    outline: none;
    transition: border-color 0.3s;
}
.input:focus {
    border-color: green;
}
